*, body { padding: 0px; margin: 0px; border: 0px; vertical-align: baseline; }
body { line-height: 1px; }

#container {
  width: 320px;
  height: 460px;
  margin: 0 auto;
  background: url(../images/stars.gif) repeat;
}
